<!--Home page with About information-->
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Ari Gaskins | Home</title>
        <link rel="stylesheet" type="text/css" href="">
        <meta> charset="UTF-8" </meta>
        <meta> name="description" content="Welcome to my first ever website build! I'm using this 
        platform to share my skills, accomplishments, and goals" </meta>
        <meta> name="keywords" content="Ari, Gaskins, ePortfolio, Software Developer, Python" </meta>
        <meta> name="author" content="Ari Gaskins" </meta>
        <meta> name="viewport" content="width=device-width, initial-scale=1.0" </meta>
    </head>
    <body>
        <!--Side bar icon buttons-->
        <navbar name="sidebar" class="sidebar">
            <button name="home-button" id="home-button">
                <img></img>
            </button>
            <button name="alma-mater-button" id="alma-mater-button">
                <img></img>
            </button>
            <button name="work-history-button" id="work-history-button">
                <img></img>
            </button>
            <button name="certifications-button" id="certifications-button">
                <img></img>
            </button>
            <button name="projects-button" id="projects-button">
                <img></img>
            </button>
            <button name="contact-button" id="contact-button">
                <img></img>
            </button>
        </navbar>
        <!--Welcome message-->
        <div class="welcome">
            <h1 name="welcome-header-one" id="welcome-header-one">1 | print('Welcome!')</h1>
            <h1 name="welcome-header-two" id="welcome-header-two">2 | print('I\'m Ari')</h1>
        </div>
        <!--About section-->
        <div class="about-section">
            <div class="profile-pic">
                <!--profile image here-->
                <img></img>
            </div>
            <div class="personal-description">
                <p id="pd-section1"></p>
                <p id="pd-section2"></p>
                <p id="pd-section3"></p>
            </div>
        </div>
        <!--Credits section?-->
        <div class="credits-section">
            <p></p>
        </div>
    </body>
</html>